<form class="max-w-sm mx-auto" [formGroup]="passwordFrom" (ngSubmit)="resetPassword()">
    <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
        <input type="email" id="resetEmail" formControlName="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500 disabled" />

    </div>
    <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
            password</label>
        <input type="text" id="password" formControlName="newPassword"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500" />


        @if (passwordFrom.get('newPassword')?.errors && passwordFrom.get('newPassword')?.touched) {
        <div class="p-3 mb-4 gap-2 flex flex-col mt-1 text-red-800 rounded-2xl bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert">
            <p>Please enter a valid password.</p>
        </div>
        }
    </div>


    @if (errMsg) {
    <div class="p-4 mb-4 mt-2 gap-2 flex flex-col  text-red-800 rounded-2xl bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <p>{{errMsg}}</p>
    </div>
    }

    <button type="submit" [disabled]="passwordFrom.invalid"
        class="text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800">
        @if (isLoading) {
        <span><i class="fa fa-spinner fa-spin"></i></span>
        }@else {
        <span>Submit</span>
        }
    </button>
</form>