<div class="w-full p-6 bg-[#F7F4F4] mt-auto ">
    <div class="w-full md:w-9/12 mx-auto">
     <h3 class="text-2xl font-normal">Get The FreshCart App</h3>
     <p class="text-gray-400 mt-2">We Will send you a link, open it on your phone to download the app</p>
    </div>
    <form class="w-100 ">
        <div class="flex flex-wrap border-b py-10 md:w-9/12 md:mx-auto">
            <input type="email" id="email"
                class="bg-gray-50  mt-3 md:mt-0 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block  md:ms-0 ms-auto p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-emerald-500 dark:focus:border-emerald-500 flex-grow"
                placeholder="Email .." />
            <button class="btn-main  md:mx-3 w-full md:mt-0 mt-3">Share App Link</button>
        </div>

        <div class="flex flex-wrap py-7 md:w-9/12 md:mx-auto border-b md:mb-0 mb-3">
            <div class="md:w-6/12 flex flex-wrap gap-3 w-full items-center">
                <p class="text-xl">Payment Partners:</p>
                <div class="w-10">
                    <img src="assets/images/amazon-pay.png" alt="amazon-pay" class="w-full">
                </div>
                <div class="w-10">
                    <img src="assets/images/American-Express-Color.png" alt="American-Express-Color" class="w-full">
                </div>
                <div class="w-10">
                    <img src="assets/images/mastercard.webp" alt="mastercard" class="w-full">
                </div>
                <div class="w-10">
                    <img src="assets/images/paypal.png" alt="paypal" class="w-full">
                </div>
            </div>
            <div class="md:w-6/12 flex flex-wrap gap-3 w-full md:mt-0 mt-3 items-center ">
                <p class="w-full md:w-auto">Get deliveries with FreshCart</p>
                <div class="w-5/12 md:w-3/12 mx-auto">
                    <img src="assets/images/get-google-play.png" alt="google play" class="w-full">
                </div>
                <div class="w-5/12 md:w-3/12 mx-auto">
                    <img src="assets/images/get-apple-store.png" alt="apple store" class="w-full">
                </div>
            </div>
        </div>
    </form>
</div>